html{
    background-color: pink;
}body{
    background-color: white;
    width: 800px;
    height: 800px;
    margin:30px auto;
}
.row{
    width: 800px;
    height: 100px;
}
.box{
    float: left;
  width: 100px;
  height: 100px;
}
.black{
    background-color: black;
}
